{% extends "aldryn_newsblog/base.html" %}
{% load staticfiles thumbnail cms_tags apphooks_config_tags %}
{% block header %}
   {% include "news_header.html" %}
{% endblock header %}

{% block styles %}
   <link href="{% static 'css/public_companies.css' %}" rel="stylesheet">
{% endblock styles %}

{% block newsblog_content %}
   <section id="zd_companies">
      <div class="container">

         <ol class="breadcrumb col-md-12">
            <li class="breadcrumb-item">
               <a href="/">Головна</a>
            </li>
            <li class="breadcrumb-item active">Громадські кампанії</li>
         </ol>

         <div class="row">
               {% for article in article_list %}
                  {% include "aldryn_newsblog/social_companies/includes/article.html" %}
                  {% empty %}
                  <p>Ще не створено жодної статі</p>
               {% endfor %}
               {% include "aldryn_newsblog/includes/pagination.html" %}
         </div>

      </div>
   </section>

{% endblock %}
