{% load cms_tags staticfiles %}

<header id="header_lib" class="masthead" style="background-image: url('{% static 'img/headers/library.jpg' %}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
          </div>
        </div>
      </div>
</header>

<div id="zd_books">
	<div class="container my-5">
		<div class="row">
			{% for book in books %}
				<div class="zd_book col-12 col-sm-6 col-md-4 col-lg-3">
					<a href="{{book.book_file.url}}" target="_blank">
						{% if book.book_cover %}
							<div style="background-image: url({{book.book_cover.url}})">
							{% else %}
								<div style="background-image: url({% static 'img/book.jpg' %})">
								{% endif %}
								<div class="book_title">
									<h5><span>{{book.book_name}}</span></h5>
									<p><span>{{book.book_author}}</span></p>
								</div>
								<img src="{% static 'img/icons/download.svg' %}" alt="">
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
