{% load cms_tags staticfiles %}
<header class="masthead" style="background-image: url('{% static 'img/headers/ideology.jpg' %}')">
   <div class="container">
      <div class="row"></div>
   </div>
</header>



<div class="pt-4 pb-4">
    <div class="container ">
        <div class="row">


            <div id="aside1" class="col-md-4 order-md-2 d-none d-md-block">
                <div class="card zd_sidebar">
                    <h5 class="card-header">Зміст</h5>
                    <div class="card-body">
                        <div id="zd_contents">
                            <ol>
                                <li><a class="" href="#item-1">Ідеологічна платформа МНК</a></li>
                                <!-- <ul>
                                    <li><a class="ml-3 my-1" href="#item-1-1">- Test subitem</a></li>
                                    <li><a class="ml-3 my-1" href="#item-1-2">- Subitem</a></li>
                                </ul> -->
                                <li><a class="" href="#item-2">Програмові засади</a></li>
                                <li><a class="" href="#item-3">Український Націоналізм. Визначення</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>


            <div id="article" class="col-md-8 order-md-1" data-spy="scroll" data-target="#aside1" data-offset="0">
                <h2 class="text-center my-4">Ідеологічна платформа МНК</h2>
                <div class="" id="item-1">
                    <div class="alert alert-success" role="alert">
                        <p class="mb-0">Молодіжний Націоналістичний Конгрес стоїть на ідеологічних засадах українського націоналізму і є складовою частиною українського націоналістичного руху під проводом революційної ОУН.
                        </p>
                    </div>
                    <p>1. Український революційний націоналізм є чинний ідеалістичний світогляд і організований суспільно-політичний рух, який виростає з підвалин духовності українського народу, як синтез уявлень і вартостей, створених ним у процесі історичного
                        буття.
                    </p>
                    <p>2. Український націоналізм має автентичний характер і не наслідує жодних чужих взірців.
                    </p>
                    <p>3. Український націоналізм стоїть на засадах традиціоналізму і поборює комунізм, космополітизм, лібералізм та інші соціальні доктрини, котрі нав'язують народам світу будь-які "універсальні" моделі суспільного устрою, не визнаючи їхнього
                        права будувати своє життя згідно власних потреб і уявлень.
                    </p>
                    <p>4. Український націоналізм не догматизує жодних схем суспільного устрою, з огляду на що не є ані "правим", ані "лівим".
                    </p>
                    <p>5. В центрі світоглядних засад українського націоналізму лежить Ідея Нації - візія найвищого розвою всіх її духовних та фізичних сил.
                    </p>
                    <p>6. Нація є найвищою органічною формою існування народного організму, яка на ґрунті спільного пережиття історичної долі та невпинного устремління здійснятися в повноті силової натуги характеризується усвідомленням власної окремішності
                        і спільною волею її складових жити на своїй етнічній території самостійним життям у власній національній державі, виходячи з усвідомлення Національної Ідеї.
                    </p>
                    <p>7. Свідомим носієм Національної Ідеї виступає провідна верства - національна еліта, політична воля котрої відображає кореневі інтереси всього народу.
                    </p>
                    <p>8. Нація є самобутня єдність минулих, сучасних і майбутніх поколінь співвітчизників, органічно пов'язаних спільною історією, мовою, культурою та історичною Місією.
                    </p>
                    <p>9. Сенсом існування кожного народу є його власне покликання, історична Місія, яка реалізується через здійснення Національної Ідеї.
                    </p>
                    <p>10. Головним чинником реалізації Національної Ідеї є націоналістичний рух - натхненна націоналістичним світоглядом соціально-політична сила, котра постає з духової та суспільної природи народу як відповідь на його найістотніші потреби,
                        і діє під кермом його провідної верстви.
                    </p>
                    <p>12. Умовою і засобом здійснення українським народом свого покликання є власна Національна Держава як форма організованого буття, котра з'єднує всі його складники в одну цілу систему, що забезпечує найбільш сприятливі умови для всебічного
                        розвитку його духовних і фізичних сил.
                    </p>
                    <p>13. Національною є та держава, котра відповідає істоті, виражає інтереси і об'єктивізує волю свого народу - етнічного господаря, спираючись і орієнтуючись у своїй політиці на його продуктивні верстви.
                    </p>
                    <p>14. Україна стане Національною Державою лише тоді, коли в ній буде встановлено народоправний лад, заснований на засадах національної солідарності, соціальної справедливості, правового порядку та особистої відповідальності. Національна
                        солідарність означає єдність і взаємодопомогу на основі усвідомлення тотожності вищих цілей нації й сенсу життя окремої людини. Соціальна справедливість передбачає відповідність прав і винагород кожного члена суспільства його обов'язкам
                        і внескові у загальнонаціональну справу. Правовий порядок ґрунтується на справедливості, силі та сталості закону, однаково обов'язковому для всіх. Особиста відповідальність обумовить тріумф ідеалу людини-громадянина над тоталітарним
                        нівелюванням особистості та егоїстичним самовідчуженням індивіда.
                    </p>
                    <p>15. Фізичною передумовою нормального життя й здорового розвитку народу український націоналізм визнає поширення Української Національної Держави на всі українські етнографічні терени, які складають нероздільну єдність його духовного
                        світу і безумовне домінування у власному геополітичному просторі.
                    </p>
                    <p>16. Сучасний український революційний націоналістич-ний рух виступає живим спадкоємцем героїчних змагань кращих синів Нації на всьому її історичному шляху і відчуває історичну відповідальність за долю Батьківщини тепер і в майбутньому.
                    </p>
                </div>


                <h2 class="text-center my-4">Програмові засади</h2>
                <div class="" id="item-2">
                    <p>Світоглядовою основою і пріоритетною цінністю для Молодіжного Націоналістичного Конгресу є Українська Нація як найвищий тип органічної людської спільноти. Головною метою для нас є захист, розбудова Нації і її всебічний розвиток.
                    </p>
                    <p>Байдуже, а часто і вороже ставлення до долі українського народу і майбутнього Української Держави як до ймовірного конкурента за місце під сонцем з боку іноземних чинників і підривна діяльність "п`ятої колони" спонукає традиційно орієнтуватися
                        насамперед на власні сили українського народу, мобілізуючи і організовуючи їх.
                    </p>
                    <p>Перспективу мають молоді і активні. Виховання нової генерації українців, натхненних Українською Ідеєю, жертовних, вольових, високоосвічених молодих людей - провідників юнацтва, суспільна активізація молодого покоління і його залучення
                        до дієвої боротьби за волю і владу Української Нації, за силу і велич Української Держави є одним із найголовніших завдань сьогодення.
                    </p>
                    <p>В результаті ґрунтовного аналізу ситуації та усвідомлення всієї відповідальності, котра спонукає не залишатися нас байдужими і кличе до дії, Молодіжний Конгрес встановлює на даному етапі своєї діяльності такі напрямні та <b>пріоритети:</b>
                    </p>
                    <p>1. Оптимальною формою повноцінного існування Української Держави, котра б належним чином всебічно забезпечила потреби та інтереси Української Нації і стала гарантом її розвитку є геополітична надпотуга, котра стане суб'єктом світової
                        політики і буде домінуючим культурогенним та стабілізуючим чинником в регіоні. Для всебічного розвою і консолідації Української Нації та підвищення добробуту нашого народу потрібна нова модель майбутньої України, спрямована на
                        захист інтересів більшості населення України, в основу якої ляжуть традиційні духовні та національні цінності українського народу, зокрема, вікове прагнення соціальної і національної справедливості. Українська Держава повинна охоплювати
                        всі українські етнографічні терени і змагати до поширення духовної, культурної, економічної експансії.
                    </p>
                    <p>2. Україна потребує перемог. Успіх можливий лише за умови перетворення "малоросійського народонаселення" в могутню Українську Націю - єдиний структуризований, ієрархізований активний організм, котрий усвідомлює власну окремішність
                        і змагає до захисту та реалізації власних національних інтересів і здійснення Місії "на грані двох світів творити нове життя". Це є свідомий цілеспрямований процес, важкий, але єдиний природний шлях не лише поступу, але і виживання.
                    </p>
                    <p>3. Влада в Україні має здійснюватися виключно в інтересах українського народу, йому підпорядковуватися і ним контролюватися. За умови реального дотримання вищезазначених вимог форма декларованого державного устрою для нас є питанням
                        другорядним.
                    </p>
                    <p>4. Титанічна робота по розбудові Нації і Національної Держави, що є стратегічною ціллю організованого націоналістичного руху, можлива лише через постання відповідних організаційних структур, що ставлять собі за мету і здатні здійснити
                        це надзавдання.
                    </p>
                    <p>5. Кожне відродження Нації починається з відродження її еліти. Тому нашим пріоритетним завданням є виховання і вишкіл молодого покоління українців на засадах національного патріотизму, жертовності, солідарності, культивування лицарського
                        духу героїзму, оптимізму і незламності, формування повновартісної, здорової фізично і духовно, освіченої, вольової і енергійної Особистості.
                    </p>
                    <p>6. Усвідомлюючи те, що молодь - майбутнє Нації і від її належного виховання, освіти та гартування залежить наступне постання і процвітання національної Великої Держави, ми ставимо за мету створення розгалуженої багатофункціональної
                        поліструктурної організаційної мережі, котра би охоплювала всі сфери молодіжного життя і комплексно б спонукала і сприяла формуванню нової генерації Українців - господарів на своїй землі і її захисників, котрі стануть взірцем і
                        прикладом для наслідування.
                    </p>
                    <p>7. Ідеологічною базою Молодіжного Конгресу є чинний український націоналізм - як традиціоналістський ідеалістичний світогляд та інтегральний, всенародний, власнопідметний організований революційний рух.
                    </p>
                    <p>8. Молодіжний Конгрес активно протистоїть і всіляко поборює ті сили і чинники, котрі несуть національне, соціальне, духовне чи психологічне поневолення українському народові, звідки б ця загроза не йшла і в які б кольори не фарбувалася.
                    </p>
                    <p>9. Молодіжний Конгрес має стати авангардом, виразником інтересів та захисником прав української молоді.
                    </p>
                </div>


                <h2 class="text-center my-4">Український Націоналізм. Визначення</h2>
                <div class="" id="item-3">
                    <p>В першій точці «Загальних Означень» 1-го Конгресу ОУН 1929 р подане таке визначення:
                    </p>
                    <p><b>Націоналізм</b> – це не явище, замкнене саме в собі. Основною його прикметою є потреба дії в інтересах національної спільноти. Звідси й активність українського націоналізму. Цей вияв дії українського націоналізму, що випливає з
                        внутрішніх потреб Української Нації, називаємо націоналістичним рухом. Отже, націоналістичний рух – це націоналізм у дії.
                    </p>
                    <p>Степан Ленкавський, ідеолог ОУН, подає таке пояснення віддмінності між патріотизмом, націоналізмом, шовінізмом:</p>
                    <p><b>Патріотизм</b> – це підсвідоме відчування любові до всього, що нам рідне і близьке. Патріотизм може мати й вужчі рамки (локальний) і ширші (народний). Локальний патріотизм – це прив'язаність і любов до свого найближчого оточення,
                        до родини, хати, родинної місцевості. Народний патріотизм – це почуття любові до свого народу та бажання допомагати йому;
                    </p>
                    <p><b>Націоналізм</b> – це активна любов до батьківщини. Це вияв не тільки бажання допомогти батьківщині, але й чин. Це практична реалізація хотінь нації вийти на вищий щабель свого розвитку. Націоналізм – вищий щабель патріотизму;
                    </p>
                    <p><b>Шовінізм</b> – це сліпа, пристрасна любов до рідного й ненависть до всього чужого. Це крайня межа підсвідомо-чуттєвої патріотичної настанови.
                    </p>
                    <p>На тлі цих відмінностей виникають різні розходження, зокрема на відтинку політичної дії партій поневолених народів. Розрізняємо три роди політичних рухів:
                    </p>
                    <p>а) патріотично-опортуністичні – ті, дія яких випливає тільки з патріотичних почувань бажання допомогти народові. Основними їх прикметами, що визначають також їхні програми, є: суб'єктивне сприйняття політичної ситуації, надії на сприятливу
                        зовнішню коньюнктуру, острах перед безпосередньою дією, мінливість настанови та задоволення найменшими успіхами;
                    </p>
                    <p>б) націоналістично-революційні – ті, дія яких випливає з вольової націоналістичної настанови. Основними їх прикметами є: національна оцінка кожної політичної ситуації, ставка на власні сили, сміливість, відчайдушність дії, революційна
                        настанова, програма-максимум, принциповість політики, постійна мета;
                    </p>
                    <p>в) можуть існувати ще й шовіністичні рухи, як, наприклад, німецький націонал-соціалізм, що допроваджують до великих катастроф у суспільстві.
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>

<a href="#" id="zd_scroll_up"></a>
