{% load cms_tags staticfiles %}

<header class="masthead" style="background-image: url('{% static 'img/headers/partners.jpg' %}')">
   <div class="container">
      <div class="row"></div>
   </div>
</header>

<div class="pt-4 pb-4">
    <div class="container">
        <h2 class="text-center my-4">Наші партнери</h2>

        <!-- <div class=""> -->
            <div class="zd_partners row text-center">
              <div class="col-lg-1 d-none d-sm-block"></div>
                <div class="col-6 col-lg-5">
                    <img class="zd_img_lg" src="{% static 'img/partners/VL-2.svg' %}">
                </div>
                <div class="col-6 col-lg-5">
                    <img class="zd_img_lg" src="{% static 'img/partners/NPV.svg' %}">
                </div>
                <div class="col-lg-1 d-none d-sm-block"></div>
            <!-- </div>
            <div class="zd_partners row"> -->
                <div class="col-6 col-sm-4">
                    <img class="zd_img_md" src="{% static 'img/partners/TSO.svg' %}">
                </div>
                <div class="col-6 col-sm-4">
                    <img class="zd_img_md" src="{% static 'img/partners/UVS.png' %}">
                </div>
                <div class="col-6 col-sm-4">
                    <img class="zd_img_md" src="{% static 'img/partners/UINP.svg' %}">
                </div>
            <!-- </div>
            <div class="zd_partners row"> -->
                <div class="col-0 col-sm-3 d-none d-sm-block">
                    <!-- <img class="zd_img_sm" src="{% static 'img/partners/RPR-2.png' %}"> -->
                </div>
                <div class="col-6 col-sm-3">
                    <img class="zd_img_sm" src="{% static 'img/partners/PD.png' %}">
                </div>
                <div class="col-6 col-sm-3">
                    <img class="zd_img_sm" src="{% static 'img/partners/RPR-2.png' %}">
                </div>
                <div class="col-0 col-sm-3 d-none d-sm-block">
                    <!-- <img class="zd_img_sm" src="{% static 'img/partners/UINP.svg' %}"> -->
                </div>

            </div>
        <!-- </div> -->
    </div>
</div>
