{% load cms_tags staticfiles %}

<header class="zd_land_pv masthead" style="background-image: url('{% static 'img/longreads/vatra/header.jpg' %}')">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
            <div class="parent_site-heading">
               <div class="site-heading">
                  <h3>Патріотичний молодіжний табір-джемборі</h3>
                  <h1><strong>Повстанська Ватра</strong></h1>
                  <a href="#" class="btn btn-secondary-2">Сторінка на Facebook</a>
                  <a href="#" class="btn btn-primary">Заповнити анкету</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>

<section class="zd_land_pv">
   <div class="container">
      <div class="row">
         <div class="col-12 col-md-9">
            <p><b>Патріотичний</b> - це значить, що табір гуртує національно свідому молодь, яка в будь-який час готова стати на захист національних та державних інтересів, готова творити майбутнє України, опираючись на дух братерства та націоналізму.</p>
            <p>Метою табору є пропаганда ідей українського націоналізму та вивчення історії національно-визвольних змагань українців, що на таборі вживається виключно українська мова і що всі учасники є патріотами України. </p>
            <p><b>Молодіжний</b> - учасником табору може бути лише молода людина від 16 до 26 років. </p>
            <p><b>Джемборі</b> - в перекладі з мови індіанців означає "збір усіх племен після довгої війни" чи "велика рада". Табір-джемборі в сучасному розумінні означає: зліт, розваги і змагання з насиченою, цікавою, та корисною програмою. </p>
         </div>
         <div class="col-12 col-md-3">
            <p><b>Організатор</b> Міністерство молоді і спорту України, Київська ОДА, Молодіжний Націоналістичний Конгрес</p>
            <p><b>Ціна</b> Безкоштовно! Також компенсується вартість дороги</p>
         </div>
      </div>
   </div>
</section>

<section class="zd_land_pv py-0">
   <div class="container2">
      <iframe src="https://www.youtube.com/embed/SOV7kKWrTns" frameborder="0" allowfullscreen class="video"></iframe>
   </div>
</section>

<section class="zd_land_pv zd_s3">
   <div class="container">
      <h2 class="text-center mb-4"><b>На тебе чекає:</b></h2>

      <div class="row">
         <div class="col-12 col-lg-6 mb-3">
            <h4 class="text-center"><b>Спілкування з непересічними особистостями</b></h4>
         </div>
         <div class="col-12 col-lg-6 mb-3">
            <p>Гості табору - відомі громадські активісти, бійці АТО та ветерани УПА, журналісти, фахові історики та дослідники національно визвольної боротьби, музиканти та митці. Відкрий для себе нове!</p>
         </div>
         <div class="col-12 col-md-6 p-0">
            <div class="s3_img" style="background-image: url('{% static 'img/longreads/vatra/s1-1.jpg' %}')"></div>
         </div>
         <div class="col-12 col-md-6 p-0">
            <div class="row">
               <div class="col-12">
                  <div class="s3_img2" style="background-image: url('{% static 'img/longreads/vatra/s1-2.jpg' %}')"></div>
               </div>
               <div class="col-12">
                  <div class="s3_img2" style="background-image: url('{% static 'img/longreads/vatra/s1-3.jpg' %}')"></div>
               </div>
            </div>
         </div>
         <hr>

         <div class="col-12 col-lg-6 mb-3">
            <h4 class="text-center"><b>Навчання</b></h4>
         </div>
         <div class="col-12 col-lg-6 mb-3">
            <p>Майстер-класи з написання проектів, гутірки з громадської активності, лекції з історії, комунікацій та іншого. Розвивайся з нами!</p>
         </div>
         <div class="col-12 col-md-6 p-0">
            <div class="s3_img" style="background-image: url('{% static 'img/longreads/vatra/s1-4.jpg' %}')"></div>
         </div>
         <div class="col-12 col-md-6 p-0">
            <div class="row">
               <div class="col-12">
                  <div class="s3_img2" style="background-image: url('{% static 'img/longreads/vatra/s1-5.jpg' %}')"></div>
               </div>
               <div class="col-12">
                  <div class="s3_img2" style="background-image: url('{% static 'img/longreads/vatra/s1-6.jpg' %}')"></div>
               </div>
            </div>
         </div>
         <hr>

         <div class="col-12 col-lg-6 mb-3">
            <h4 class="text-center"><b>Друзі</b></h4>
         </div>
         <div class="col-12 col-lg-6 mb-3">
            <p>Учасники табору - твої однодумці. Завдяки спільним інтересам, тімбілдінгу - ви станете однією командою. Відчуй дух братерства!</p>
         </div>
         <div class="col-12 col-md-6 p-0">
            <div class="s3_img" style="background-image: url('{% static 'img/longreads/vatra/s1-7.jpg' %}')"></div>
         </div>
         <div class="col-12 col-md-6 p-0">
            <div class="row">
               <div class="col-12">
                  <div class="s3_img2" style="background-image: url('{% static 'img/longreads/vatra/s1-8.jpg' %}')"></div>
               </div>
               <div class="col-12">
                  <div class="s3_img2" style="background-image: url('{% static 'img/longreads/vatra/s1-9.jpg' %}')"></div>
               </div>
            </div>
         </div>
         <hr>

         <div class="col-12 col-lg-6 mb-3">
            <h4 class="text-center"><b>Активність</b></h4>
         </div>
         <div class="col-12 col-lg-6 mb-3">
            <p>Спортивні ігри: регбі, пейнтбол, туристична смуга перешкод і багато іншого. Це весело!</p>
         </div>
         <div class="col-12 col-md-6 p-0">
            <div class="s3_img" style="background-image: url('{% static 'img/longreads/vatra/s1-10.jpg' %}')"></div>
         </div>
         <div class="col-12 col-md-6 p-0">
            <div class="row">
               <div class="col-12">
                  <div class="s3_img2" style="background-image: url('{% static 'img/longreads/vatra/s1-11.jpg' %}')"></div>
               </div>
               <div class="col-12">
                  <div class="s3_img2" style="background-image: url('{% static 'img/longreads/vatra/s1-12.jpg' %}')"></div>
               </div>
            </div>
         </div>
         <hr>

         <div class="col-12 col-lg-6 mb-3">
            <h4 class="text-center"><b>Вечірні ватри</b></h4>
         </div>
         <div class="col-12 col-lg-6 mb-3">
            <p>Щовечора - співи біля великої ватри з відомими співаками. Неповторна атмосефра!</p>
         </div>
         <div class="col-12 col-md-6 p-0">
            <div class="s3_img" style="background-image: url('{% static 'img/longreads/vatra/s1-13.jpg' %}')"></div>
         </div>
         <div class="col-12 col-md-6 p-0">
            <div class="row">
               <div class="col-12">
                  <div class="s3_img2" style="background-image: url('{% static 'img/longreads/vatra/s1-14.jpg' %}')"></div>
               </div>
               <div class="col-12">
                  <div class="s3_img2" style="background-image: url('{% static 'img/longreads/vatra/s1-15.jpg' %}')"></div>
               </div>
            </div>
         </div>
         <hr>

      </div>
   </div>
</section>

<section class="zd_land_pv zd_s4 py-0">
  <h2 class="text-center mb-4"><b>"Повстанську Ватру" вже відвідали:</b></h2>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
     <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
     </ol>
     <div class="carousel-inner zd_cerousel_lg" role="listbox">

        <div class="carousel-item active" style="background-image: url('{% static 'img/longreads/vatra/s2-1.jpg' %}')">
           <div class="carousel-caption">
             <div class="mb-2 mt-3 p-0">
               <h4>Юрій Журавель</h4>
                <p>Музикант, вокаліст гурту "От Вінта", художник, аніматор, громадський діяч, актор і сценарист.</p>
             </div>
           </div>
        </div>
        <div class="carousel-item" style="background-image: url('{% static 'img/longreads/vatra/s2-2.jpg' %}')">
           <div class="carousel-caption">
              <div class="mb-2 mt-3 p-0">
                <h4>Таміла Ташева</h4>
                 <p>Громадянка України, кримська татарка, націоналістка, яка покинула свої особисті інтереси, самореалізацію заради більш важливих питань.</p>
              </div>
           </div>
        </div>
        <div class="carousel-item" style="background-image: url('{% static 'img/longreads/vatra/s2-3.jpg' %}')">
           <div class="carousel-caption">
             <div class="mb-2 mt-3 p-0">
               <h4>Дмитро Савченко</h4>
                <p>Письменник, автор книги «Заколот», військовий журналіст, радіоведучий</p>
             </div>
           </div>
        </div>
        <div class="carousel-item" style="background-image: url('{% static 'img/longreads/vatra/s2-4.jpg' %}')">
           <div class="carousel-caption">
             <div class="mb-2 mt-3 p-0">
               <h4>Ігор Кулик</h4>
                <p>Громадський діяч, директор Архівів СБУ. Начальник Управління інституційного забезпечення політики національної пам'яті Українського інституту національної пам'яті</p>
             </div>
           </div>
        </div>
        <div class="carousel-item" style="background-image: url('{% static 'img/longreads/vatra/s2-5.jpg' %}')">
           <div class="carousel-caption">
             <div class="mb-2 mt-3 p-0">
               <h4>Андрій Щегельський</h4>
                <p>Громадський активіст Нью-Йоркської громади</p>
             </div>
           </div>
        </div>
        <div class="carousel-item" style="background-image: url('{% static 'img/longreads/vatra/s2-6.jpg' %}')">
           <div class="carousel-caption">
             <div class="mb-2 mt-3 p-0">
               <h4>Микола Ляхович</h4>
                <p>Начальник відділу національно-патріотичного виховання Міністерства молоді та спорту України</p>
             </div>
           </div>
        </div>
        <div class="carousel-item" style="background-image: url('{% static 'img/longreads/vatra/s2-7.jpg' %}')">
           <div class="carousel-caption">
             <div class="mb-2 mt-3 p-0">
               <h4>Михайло Бунь</h4>
                <p>Член ОУН(р) та УПА, політв'язень, громадський та політичний діяч</p>
             </div>
           </div>
        </div>

     </div>
     <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
       </a>
     <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
       </a>
  </div>
</section>

<!-- <section class="zd_land_pv zd_s5">
   <div class="container">
      <div class="row">
         <h2></h2>
         <p>anketa</p>
      </div>
   </div>
</section> -->

<section class="zd_land_pv zd_s-last">
   <div class="container">
      <div class="text-center">
         <img src="{% static 'img/logo.svg' %}">
         <h4>Молодіжний Націоналістичний Конгрес</h4>
         <p>© 2018 All Rights Reserves</p>
         <p>mnk@mnk.org.ua</p>
      </div>
   </div>
</section>
