{% load cms_tags staticfiles %}
<header class="masthead" style="background-image: url('{% static 'img/headers/support_us.jpg' %}')">
   <div class="container">
      <div class="row"></div>
   </div>
</header>

<div class="pt-4 pb-4">
   <div class="container">
      <h2 class="text-center mb-3">Фінансова допомога</h2>
      <p>Шановний друже! Разом з нами ти можеш допомогти молоді вирости національносвідомими та активними громадянами.</p>
      <p>Просто зроби свій внесок у справу розвитку та зростання українського національно-патріотичного виховання, навіть одна гривня – важлива!</p>
      <div class="row mt-3">
         <div class="col-md-6 pl-0 pr-2">
            <h4>Підтримати зараз:<h4>
            <p><a href="#" class="text-right btn btn_pay"><img src='https://static.liqpay.ua/buttons/logo-small.png'>Підтримай!</a></p>
            <h4>Підтримка на банківську карту:</h4>
               <p class="m-0">5168 7556 0337 1796</p>
               <p class="mb-3 mb-md-0">Фаріон Соломія Ярославівна</p>
         </div>
         <div class="col-md-6 px-0">
            <h4>Зробити банківський переказ:</h4>
               <ul>
                  <li>№26008052635956 (UAH)</li>
                  <li>№26005052639450 (USD)</li>
                  <li>ЄДОПОУ: 33552175</li>
                  <li>МФО: 320649</li>
                  <li>ПАТ КБ “ПриватБанк”</li>
               </ul>
         </div>
      </div>

      <h2 class="text-center mt-4 mb-3">Допомогти ресурсами</h2>
      <div class="row mt-4">
         <div class="col-sm-6 px-0">
            <h4>Зконтактувати з нашим фінансовим<br>референтом:</h4>
            <div class="zd_ico_text mb-1">
               <p><img class="zd_ico-sm mr-1" src="{% static 'img/icons/ico-phone-d.svg' %}" alt="phone">+38&nbsp;068&nbsp;757&nbsp;5893, +38&nbsp;095&nbsp;078&nbsp;4112</p>
            </div>
            <div class="zd_ico_text mb-1">
               <p><img class="zd_ico-sm mr-1" src="{% static 'img/icons/ico-envelope-d.svg' %}" alt="email">slobodianyk.andrii@gmail.com</p>
            </div>
            <div class="zd_ico_text mb-1">
               <p><img class="zd_ico-sm mr-1" src="{% static 'img/icons/icon-fb-d.svg' %}" alt="location"><a href="https://www.facebook.com/profile.php?id=100012738104114">Слободяник Андрій</a></p>
            </div>
         </div>
         <div class="col-sm-6 px-0">
            <img id="zd_img_face" src="{% static 'img/ava-Slob.jpg' %}">
         </div>
      </div>

   </div>
</div>
