{% load cms_tags staticfiles %}
<body class="t-body" style="margin: 0px;">
    <div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="58928" data-tilda-page-id="192164" data-tilda-formskey="6f5a5b6697b0df5f6e246f1feaf53a49">
        <div id="rec26597992" class="r" style="padding-top:0px;padding-bottom:0px; " data-animationappear="off" data-record-type="454">
            <!-- T454 -->

            <div id="rec5990816" class="r" style="padding-top:0px;padding-bottom:0px; " data-animationappear="off" data-record-type="206">
                <!-- cover -->
                <div class="t-cover" id="recorddiv5990816" bgimgfield="img" style="height:100vh; background-image:url({% static 'img/longreads/vidvaga/b1.jpg' %});">
                    <div class="t-cover__carrier loaded" id="coverCarry5990816" data-content-cover-id="5990816" data-content-cover-bg="{% static 'img/longreads/vidvaga/b1.jpg' %}" data-content-cover-height="100vh" data-content-cover-parallax="fixed"
                      data-content-video-nomute="yes" style="background-image: url({% static 'img/longreads/vidvaga/b1.jpg' %}); height: 100vh;" src=""></div>
                    <div class="t-cover__filter" style="height:100vh;background-image: -moz-linear-gradient(top, rgba(255,250,250,0.30), rgba(0,0,0,0.60));background-image: -webkit-linear-gradient(top, rgba(255,250,250,0.30), rgba(0,0,0,0.60));background-image: -o-linear-gradient(top, rgba(255,250,250,0.30), rgba(0,0,0,0.60));background-image: -ms-linear-gradient(top, rgba(255,250,250,0.30), rgba(0,0,0,0.60));background-image: linear-gradient(top, rgba(255,250,250,0.30), rgba(0,0,0,0.60));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=&#39;#b2fffafa&#39;, endColorstr=&#39;#66000000&#39;);"></div>
                    <div class="t-container">
                        <div class="t-col t-col_12">
                            <div class="t-cover__wrapper t-valign_middle" style="height:100vh; position: relative;z-index: 1;">
                                <div class="t183">
                                    <div data-hook-content="covercontent">
                                        <div class="t183__wrapper">
                                            <div class="t183__uptitle t-uptitle t-uptitle_xxl " style="text-transform:uppercase;" field="subtitle">
                                                <div style="font-size:26px;" data-customstyle="yes"><br><br><br><br>молодіжний вишкільний табір
                                                </div>
                                            </div>
                                            <h1 class="t183__title t-title t-title_xl " style="" field="title">Відвага <br>
                                        </h1>
                                            <div class="t183__buttons">
                                                <a href="http://vidvaga.mnk.org.ua/#rec26189006" target="" class="t-btn " style="color:#000000;background-color:#dbdb5e;border-radius:40px; -moz-border-radius:40px; -webkit-border-radius:40px;">
                                                    <table style="width:100%; height:100%;">
                                                        <tbody>
                                                            <tr>
                                                                <td>Поїхали!</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="rec26439480" class="r r_showed r_anim" style="padding-top:45px;padding-bottom:30px; " data-record-type="4">
              <!-- T121 -->
                <div class="t121">
                    <center>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gS-QeZ1rJC8?rel=0" allowfullscreen></iframe>
                        </div>
                    </center>
                </div>
            </div>


            <div id="rec5997120" class="r r_anim r_showed" style="padding-top:60px;padding-bottom:70px; " data-record-type="30">
                <!-- T015 -->
                <div class="t015">
                    <div class="t-container t-align_center">
                        <div class="t-col t-col_10 t-prefix_1">
                            <div class="t015__uptitle t-uptitle t-uptitle_md" field="subtitle" style="text-transform:uppercase;">будь відвертим
                            </div>
                            <div class="t015__title t-title t-title_lg" field="title" style="">Готовий перебороти свої страхи?
                            </div>
                            <div class="t015__descr t-descr t-descr_xl" field="descr" style="">Ми допоможемо!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="rec5991625" class="r r_anim r_showed" style="padding-top:0px;padding-bottom:56px; " data-record-type="106">
                <!-- T004 -->
                <div class="t004">
                    <div class="t-container ">
                        <div class="t-col t-col_8 t-prefix_2">
                            <div field="text" class="t-text t-text_md ">
                                <div style="text-align:center;" data-customstyle="yes">
                                  <strong>Що?</strong> Наметово-патріотичний табір<br>
                                  <!-- <strong>Коли?</strong> 5-15 серпня 2017 року<br> -->
                                  <!-- <strong>Де?</strong> Полтавська обл.,с.Псільське<br> -->
                                  <strong>Для кого?</strong> Молодь 16-26 років<br><br><strong><u data-redactor-tag="u">УЧАСТЬ
                                    БЕЗКОШТОВНА</u></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="rec5991543" class="r r_anim r_showed" style="padding-top:30px; " data-record-type="147">
                <!-- t214-->
                <div class="t214">
                    <div class="t-container">
                        <div class="t-row">
                            <div class="t-col t-col_4" style="margin-bottom:20px;">
                                <div class="t214__blockimg t-bgimg t-zoomable loaded" bgimgfield="gi_img__0" data-zoom-target="0" data-zoomable="yes" data-img-zoom-url="https://static.tildacdn.com/tild3238-3039-4537-b630-306538316633/27549189681_37e51cb032_o.jpg" data-original="https://static.tildacdn.com/tild3238-3039-4537-b630-306538316633/27549189681_37e51cb032_o.jpg"
                                  style="background: url({% static 'img/longreads/vidvaga/b2-1.jpg' %}) center center / cover no-repeat;" src="">
                                    <!-- <meta itemprop="image" content="https://static.tildacdn.com/tild3238-3039-4537-b630-306538316633/27549189681_37e51cb032_o.jpg"> -->
                                </div>
                            </div>
                            <div class="t-col t-col_4" style="margin-bottom:20px;">
                                <div class="t214__blockimg t-bgimg t-zoomable loaded" bgimgfield="gi_img__1" data-zoom-target="1" data-zoomable="yes" data-img-zoom-url="https://static.tildacdn.com/tild6561-3737-4937-b663-646365346134/27521433082_e1e2991b7b_o.jpg" data-original="https://static.tildacdn.com/tild6561-3737-4937-b663-646365346134/27521433082_e1e2991b7b_o.jpg"
                                  style="background: url({% static 'img/longreads/vidvaga/b2-2.jpg' %}) center center / cover no-repeat;" src="">
                                    <!-- <meta itemprop="image" content="https://static.tildacdn.com/tild6561-3737-4937-b663-646365346134/27521433082_e1e2991b7b_o.jpg"> -->
                                </div>
                            </div>
                            <div class="t-col t-col_4" style="margin-bottom:20px;">
                                <div class="t214__blockimg t-bgimg t-zoomable loaded" bgimgfield="gi_img__2" data-zoom-target="2" data-zoomable="yes" data-img-zoom-url="https://static.tildacdn.com/tild6533-3362-4637-a536-303166663338/27624180105_0fa787b816_o.jpg" data-original="https://static.tildacdn.com/tild6533-3362-4637-a536-303166663338/27624180105_0fa787b816_o.jpg"
                                  style="background: url({% static 'img/longreads/vidvaga/b2-3.jpg' %}) center center / cover no-repeat;" src="">
                                    <!-- <meta itemprop="image" content="https://static.tildacdn.com/tild6533-3362-4637-a536-303166663338/27624180105_0fa787b816_o.jpg"> -->
                                </div>
                            </div>
                        </div>
                        <div class="t-row">
                            <div class="t-col t-col_4" style="margin-bottom:20px;">
                                <div class="t214__blockimg t-bgimg t-zoomable loaded" bgimgfield="gi_img__3" data-zoom-target="3" data-zoomable="yes" data-img-zoom-url="https://static.tildacdn.com/tild3038-3632-4463-a163-303933396335/27011536223_d9ff46f243_o.jpg" data-original="https://static.tildacdn.com/tild3038-3632-4463-a163-303933396335/27011536223_d9ff46f243_o.jpg"
                                  style="background: url({% static 'img/longreads/vidvaga/b2-4.jpg' %}) center center / cover no-repeat;" src="">
                                    <!-- <meta itemprop="image" content="https://static.tildacdn.com/tild3038-3632-4463-a163-303933396335/27011536223_d9ff46f243_o.jpg"> -->
                                </div>
                            </div>
                            <div class="t-col t-col_4" style="margin-bottom:20px;">
                                <div class="t214__blockimg t-bgimg t-zoomable loaded" bgimgfield="gi_img__4" data-zoom-target="4" data-zoomable="yes" data-img-zoom-url="https://static.tildacdn.com/tild6637-6635-4964-b864-643565643135/27014274674_c72bde3bed_o.jpg" data-original="https://static.tildacdn.com/tild6637-6635-4964-b864-643565643135/27014274674_c72bde3bed_o.jpg"
                                  style="background: url({% static 'img/longreads/vidvaga/b2-5.jpg' %}) center center / cover no-repeat;" src="">
                                    <!-- <meta itemprop="image" content="https://static.tildacdn.com/tild6637-6635-4964-b864-643565643135/27014274674_c72bde3bed_o.jpg"> -->
                                </div>
                            </div>
                            <div class="t-col t-col_4" style="margin-bottom:20px;">
                                <div class="t214__blockimg t-bgimg t-zoomable loaded" bgimgfield="gi_img__5" data-zoom-target="5" data-zoomable="yes" data-img-zoom-url="https://static.tildacdn.com/tild3864-3631-4935-a136-303864336233/27586900746_399fa00a2f_o.jpg" data-original="https://static.tildacdn.com/tild3864-3631-4935-a136-303864336233/27586900746_399fa00a2f_o.jpg"
                                  style="background: url({% static 'img/longreads/vidvaga/b2-6.jpg' %}) center center / cover no-repeat;" src="">
                                    <!-- <meta itemprop="image" content="https://static.tildacdn.com/tild3864-3631-4935-a136-303864336233/27586900746_399fa00a2f_o.jpg"> -->
                                </div>
                            </div>
                        </div>
                        <div class="t-row"></div>
                    </div>
                </div>
            </div>

            <div id="rec26213368" class="r" style="padding-top:15px;padding-bottom:90px; " data-animationappear="off" data-record-type="4">
                <!-- T121 -->
                <div class="t121">
                    <center>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/etcJjZ525w0?rel=0" allowfullscreen></iframe>
                        </div>
                    </center>
                </div>
            </div>

            <div id="rec5990820" class="r" style="padding-top:0px;padding-bottom:30px;background-color:#f0f0f0; " data-record-type="127" data-bg-color="#f0f0f0" data-animationappear="off">
                <!-- T119 -->
                <div class="t119">
                    <div class="t-container ">
                        <div class="t-col t-col_8 t-prefix_2">
                            <div class="t119__preface t-descr t-opacity_70" style="opacity:0.70;" field="text">
                                <div style="text-align:center;" data-customstyle="yes">Табір для свідомих, активних та дієвих.
                                    <br><span style="font-weight: 400;"><strong>"Відвага"</strong></span> — не відпочинок та розваги. <br>Це школа сучасного українця, готового до будь-яких викликів. <br>Табір формує відповідального та причетного до суспільно-корисних
                                    змін громадянина — розбудовника України.
                                    <div style="text-align:center;" data-customstyle="yes"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="rec5990821" class="r" style="padding-top:0px;padding-bottom:90px;background-color:#f0f0f0; " data-record-type="86" data-bg-color="#f0f0f0" data-animationappear="off">
                <!-- T075 -->
                <div class="t075">
                    <div class="t-container">
                        <div class="t-col t-col_4 t-align_center">
                            <center><img src="{% static 'img/longreads/vidvaga/b3-1.png' %}" data-tu-max-width="400" data-tu-max-height="400" class="t075__img t075__img_circle t-img loaded"
                                  imgfield="img"></center>
                            <div class="t075__wrappercenter t075__textclass1">
                                <div class="t075__title t-name" field="title">10 днів</div>
                                <div class="t-text" field="descr">Тривалість табору</div>
                            </div>
                        </div>
                        <div class="t-col t-col_4 t-align_center">
                            <center><img src="{% static 'img/longreads/vidvaga/b3-2.png' %}" data-tu-max-width="400" data-tu-max-height="400" class="t075__img t075__img_circle t-img loaded"
                                  imgfield="img2"></center>
                            <div class="t075__wrappercenter t075__textclass1">
                                <div class="t075__title t-name" field="title2">24 регіони</div>
                                <div class="t-text" field="descr2">Географія учасників</div>
                            </div>
                        </div>
                        <div class="t-col t-col_4 t-align_center">
                            <center><img src="{% static 'img/longreads/vidvaga/b3-3.png' %}" data-tu-max-width="400" data-tu-max-height="400" class="t075__img t075__img_circle t-img loaded"
                                  imgfield="img3"></center>
                            <div class="t075__wrappercenter t075__textclass1">
                                <div class="t075__title t-name" field="title3">10 років</div>
                                <div class="t-text" field="descr3">Досвід проведення</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rec5992052" class="r r_anim r_showed" style="padding-top:0px;padding-bottom:0px; " data-record-type="255">
                <!-- T225 -->
                <div class="t225">
                    <div class="t-container t-align_center">
                        <div class="t-col t-col_8 t-prefix_2">
                            <div class="t225__title t-title t-title_md" field="title" style="">"Відвага" - це:</div>
                            <div class="t225__descr t-descr t-descr_xxl" field="descr" style="">
                                <div style="font-family:Georgia;" data-customstyle="yes"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rec5994949" class="r r_anim r_showed" style="padding-top:15px;padding-bottom:15px; " data-record-type="162">
                <!-- T150 -->
                <div class="t150">
                    <div class="t150__linewrapper">
                        <hr class="t150__line t-width t-width_10">
                    </div>
                    <div class="t150__cirwrapper">
                        <div class="t150__cir" field="title">1</div>
                    </div>
                </div>
            </div>
            <div id="rec5994853" class="r" style="padding-bottom:0px; " data-animationappear="off" data-record-type="168">
                <!-- cover -->
                <div class="t-cover" id="recorddiv5994853" bgimgfield="img" style="height:100vh; background-image:url(&#39;https://static.tildacdn.com/tild3733-3233-4434-a165-306134623666/-/resize/20x/sDCqscPo8eM.jpg&#39;);">
                    <div class="t-cover__carrier loaded" id="coverCarry5994853" data-content-cover-id="5994853" data-content-cover-bg="https://static.tildacdn.com/tild3733-3233-4434-a165-306134623666/sDCqscPo8eM.jpg" data-content-cover-height="100vh" data-content-cover-parallax="fixed"
                      style="background-image: url({% static 'img/longreads/vidvaga/b4-1.jpg' %}); height: 100vh;" src=""></div>
                    <div class="t-cover__filter" style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: -o-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=&#39;#b2000000&#39;, endColorstr=&#39;#b2000000&#39;);"></div>
                    <div class="t-container">
                        <div class="t-col t-row t-col_12">
                            <div class="t-cover__wrapper t-valign_bottom" style="height:100vh;">
                                <div class="t154 t-align_center" data-hook-content="covercontent">
                                    <h1 class="t154__title t-title t-title_md " style="" field="title">Патріотизм</h1> <span class="space"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rec5992122" class="r r_anim r_showed" style="padding-top:15px;padding-bottom:15px; " data-record-type="162">
                <!-- T150 -->
                <div class="t150">
                    <div class="t150__linewrapper">
                        <hr class="t150__line t-width t-width_10">
                    </div>
                    <div class="t150__cirwrapper">
                        <div class="t150__cir" field="title">2</div>
                    </div>
                </div>
            </div>
            <div id="rec5994893" class="r" style="padding-top:0px; " data-animationappear="off" data-record-type="168">
                <!-- cover -->
                <div class="t-cover" id="recorddiv5994893" bgimgfield="img" style="height:100vh; background-image:url(&#39;https://static.tildacdn.com/tild3035-3336-4564-b733-626661623963/-/resize/20x/6s7__74fiMI.jpg&#39;);">
                    <div class="t-cover__carrier loaded" id="coverCarry5994893" data-content-cover-id="5994893" data-content-cover-bg="https://static.tildacdn.com/tild3035-3336-4564-b733-626661623963/6s7__74fiMI.jpg" data-content-cover-height="100vh" data-content-cover-parallax="fixed"
                      style="background-image: url({% static 'img/longreads/vidvaga/b4-2.jpg' %}); height: 100vh;" src=""></div>
                    <div class="t-cover__filter" style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: -o-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=&#39;#b2000000&#39;, endColorstr=&#39;#b2000000&#39;);"></div>
                    <div class="t-container">
                        <div class="t-col t-row t-col_12">
                            <div class="t-cover__wrapper t-valign_bottom" style="height:100vh;">
                                <div class="t154 t-align_center" data-hook-content="covercontent">
                                    <h1 class="t154__title t-title t-title_md " style="" field="title">Дисципліна</h1> <span class="space"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rec5994954" class="r r_anim r_showed" style="padding-top:15px;padding-bottom:15px; " data-record-type="162">
                <!-- T150 -->
                <div class="t150">
                    <div class="t150__linewrapper">
                        <hr class="t150__line t-width t-width_10">
                    </div>
                    <div class="t150__cirwrapper">
                        <div class="t150__cir" field="title">3</div>
                    </div>
                </div>
            </div>
            <div id="rec5994957" class="r" style="padding-top:0px; " data-animationappear="off" data-record-type="168">
                <!-- cover -->
                <div class="t-cover" id="recorddiv5994957" bgimgfield="img" style="height:100vh; background-image:url(&#39;https://static.tildacdn.com/tild6437-6132-4865-a538-393835396339/-/resize/20x/sdfgh.jpg&#39;);">
                    <div class="t-cover__carrier loaded" id="coverCarry5994957" data-content-cover-id="5994957" data-content-cover-bg="https://static.tildacdn.com/tild6437-6132-4865-a538-393835396339/sdfgh.jpg" data-content-cover-height="100vh" data-content-cover-parallax="fixed"
                      style="background-image: url({% static 'img/longreads/vidvaga/b4-3.jpg' %}); height: 100vh;" src=""></div>
                    <div class="t-cover__filter" style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.10), rgba(0,0,0,0.30));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.10), rgba(0,0,0,0.30));background-image: -o-linear-gradient(top, rgba(0,0,0,0.10), rgba(0,0,0,0.30));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.10), rgba(0,0,0,0.30));background-image: linear-gradient(top, rgba(0,0,0,0.10), rgba(0,0,0,0.30));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=&#39;#e5000000&#39;, endColorstr=&#39;#b2000000&#39;);"></div>
                    <div class="t-container">
                        <div class="t-col t-row t-col_12">
                            <div class="t-cover__wrapper t-valign_bottom" style="height:100vh;">
                                <div class="t154 t-align_center" data-hook-content="covercontent">
                                    <h1 class="t154__title t-title t-title_md " style="" field="title">Однодумці</h1> <span class="space"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rec5995225" class="r r_anim r_showed" style="padding-top:15px;padding-bottom:0px; " data-record-type="248">
                <!-- T220 -->
                <div class="t220">
                    <div class="t-container ">
                        <div class="t-col t-col_8 t-prefix_2">
                            <div class="t220__textwrapper" style="background-color:#ffffff;">
                                <div style="">
                                    <div class="t220__title t-heading t-heading_sm" field="title">
                                        <div style="text-align:center;" data-customstyle="yes">У програмі табору:</div>
                                    </div>
                                    <div field="text" class="t220__text t-text t-text_md ">
                                        <div style="font-size:22px;" data-customstyle="yes">
                                            <ul>
                                                <li>елементи військового вишколу</li>
                                                <li>фізичне загартування і спортивні змагання</li>
                                                <li>зустрічі з провідними фахівцями, істориками, громадськими активістами, військовими, журналістами
                                                </li>
                                                <li>практичне застосування знань, здобутих на лекціях</li>
                                                <li>вечори біля ватри</li>
                                                <li>дисципліна</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="rec5995956" class="r r_anim r_showed" style="padding-top:30px; " data-record-type="170">
                <!-- t156 -->
                <div class="t156">
                    <div class="t-container">
                        <div class="t-col t-col_12">
                            <table style="margin:0 auto; padding:0;">
                                <tbody>
                                    <tr>
                                        <td itemscope=""><img class="t-img t-zoomable loaded" imgfield="gi_img__0" src="{% static 'img/longreads/vidvaga/b5-1.jpg' %}"
                                              data-zoom-target="0" data-zoomable="yes" style="width:100%;">
                                            <meta itemprop="image">
                                        </td>
                                        <td style="width:20px;"></td>
                                        <td itemscope=""><img class="t-img t-zoomable loaded" imgfield="gi_img__1" src="{% static 'img/longreads/vidvaga/b5-2.jpg' %}"
                                              data-zoom-target="1" data-zoomable="yes" style="width:100%;">
                                            <meta itemprop="image">
                                        </td>
                                        <td style="width:20px;"></td>
                                        <td itemscope=""><img class="t-img t-zoomable loaded" imgfield="gi_img__2" src="{% static 'img/longreads/vidvaga/b5-3.jpg' %}"
                                              data-zoom-target="2" data-zoomable="yes" style="width:100%;">
                                            <meta itemprop="image">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div id="rec5990827" class="r" style="padding-top:30px;padding-bottom:30px;background-color:#f0f0f0; " data-record-type="33" data-bg-color="#f0f0f0" data-animationappear="off">
                <!-- T017 -->
                <div class="t017">
                    <div class="t-container t-align_center">
                        <div class="t-col t-col_10 t-prefix_1">
                            <div class="t017__title t-title t-title_xxs" field="title" style=""><span style="font-weight: 400;">Як стати учасником?</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="rec5995905" class="r r_anim r_showed" style="padding-top:30px;padding-bottom:0px; " data-record-type="37">
                <!-- T022 -->
                <div class="t022 t-align_center">
                    <div class="t-container">
                        <div class="t-row">
                            <div class="t-col t-col_6 t-prefix_3">
                                <div class="t022__text t-text t-text_sm" field="text">
                                    <div style="text-align:left;" data-customstyle="yes">
                                        <ol>
                                            <li>Мати 16-26 років</li>
                                            <li>Заповнити<a href="http://vidvaga.mnk.org.ua/#rec26189006" style="">
                                            анкету</a>
                                             <!-- до 31 липня 2017 року -->
                                            </li>
                                            <li>Надіслати копію паспорта (1,2 стор., реєстрація) та копію ідентифікаційного коду на vidvaga@mnk.org.ua
                                            </li>
                                        </ol>
                                        <br> <strong>УВАГА!</strong> На листи, надіслані з електронних адрес в поштовому сервісі зони .ru чи mail.ua - не відповідаємо! <br> <br></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="rec6179785" class="r r_anim r_showed" style="padding-top:0px;padding-bottom:30px; " data-record-type="191">
                <!-- T142 -->
                <div class="t142">
                    <div class="t-container_100">
                        <div class="t142__wrapone">
                            <div class="t142__wraptwo">
                                <a href="http://mailchi.mp/b814808c4b76/a4knfm4dv3-23761" target="_blank">
                                    <div class="t-btn t142__submit " style="color:#000000;border:3px solid #000000;background-color:#fafafa;">Читай детальні умови участі
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        t142_checkSize('6179785');
                    });
                </script>
            </div>


            <div id="rec5990832" class="r" style="padding-top:0px;padding-bottom:75px;background-color:#f0f0f0; " data-record-type="174" data-bg-color="#f0f0f0" data-animationappear="off">
                <div style="width:100%; margin: 0 auto;">
                    <div id="myCarousel5990832" class="carousel slide" data-ride="carousel" data-interval="false">
                        <!-- Indicators -->
                        <ol class="carousel-indicators dotsbottom">
                            <li data-target="#myCarousel5990832" data-slide-to="0" class=" active"></li>
                            <li data-target="#myCarousel5990832" data-slide-to="1" class=""></li>
                            <li data-target="#myCarousel5990832" data-slide-to="2" class=""></li>
                            <li data-target="#myCarousel5990832" data-slide-to="3" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active" style="">
                                <!-- T160-->
                                <div class="t160">
                                    <div class="t-container_8">
                                        <div class="t160__wrapper"><img class="t160__img t-img loaded" src="{% static 'img/longreads/vidvaga/b6-1.jpg' %}"
                                              imgfield="img" alt="">
                                            <div field="text" class="t160__text t-descr">Не кожен проходить "Відвагу" до кінця, але кожен повинен спробувати. Цей табір - виклик самому собі. Місце, де щоразу на тебе чекають нові випробування, долаючи які одне за одним, відкриваєш у собі небачені
                                                здібності. На додачу отримуєш безліч однодумців та нових друзів.
                                                <br>10 максимально насичених і продуктивних днів, де не буде жодної хвилини для байдикування, де гартуєшся як фізично, так і розумово, запам'ятаються на все життя. <br><br> <br></div>
                                            <div class="t160__title t-name t-name_lg" field="title">Анастасія, Стрий</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item " style="">
                                <!-- T160-->
                                <div class="t160">
                                    <div class="t-container_8">
                                        <div class="t160__wrapper"><img class="t160__img t-img" src="{% static 'img/longreads/vidvaga/b6-2.jpg' %}" imgfield="img2" alt="">
                                            <div field="text2" class="t160__text t-descr">"Відвага" - це місце, де загартовується дух на все життя. Тут знаходяться люди, з якими стоїш пліч-о-пліч за одну Ідею. <br>Якщо ти вважаєш себе сильним - приїдь і доведи!
                                            </div>
                                            <div class="t160__title t-name t-name_lg" field="title2">Любомир, Івано-Франківщина
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item " style="">
                                <!-- T160-->
                                <div class="t160">
                                    <div class="t-container_8">
                                        <div class="t160__wrapper"><img class="t160__img t-img" src="{% static 'img/longreads/vidvaga/b6-3.jpg' %}"
                                              imgfield="img3" alt="">
                                            <div field="text3" class="t160__text t-descr">"Відвага" - це місце змін, змін особистих, внутрішніх...<br>Табір "Відвага" вчить тебе долати перешкоди, перш за все перешкоду під ім`ям "Я". Перемогти самого себе, от що сьогодні найважливіше в житті.<br> Досвід
                                                отриманий на "Відвазі" дає можливість в буденному житті легше долати життєві негаразди та проблеми, вчить рішучості та стриманості. Холодний розум та гаряче серце. Відвага кує нову генерацію українців!
                                                <br><br>
                                                <br></div>
                                            <div class="t160__title t-name t-name_lg" field="title3">Андрій, Бурштин</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item " style="">
                                <!-- T160-->
                                <div class="t160">
                                    <div class="t-container_8">
                                        <div class="t160__wrapper"><img class="t160__img t-img" src="{% static 'img/longreads/vidvaga/b6-4.jpg' %}"
                                              imgfield="img4" alt="">
                                            <div field="text4" class="t160__text t-descr">Для мене "Відвага" була одним з перших вишкільних таборів. Тоді, бувши ще школярем я і не усвідомлював, що цей табір настільки змінить мою особистість. Я ані трішки не жалію, що пройшов це випробування, хоч
                                                було важко: як і фізично, так і морально. На мою думку, вишкіл - це один із найкращих і найактуальніших інструментів для виховання української молоді, який гартує її в дусі українського націоналізму .
                                            </div>
                                            <div class="t160__title t-name t-name_lg" field="title4">Володимир, Львів</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel5990832" data-slide="prev"><span class="carousel-control-left" style="top:42%;"></span></a> <a class="right carousel-control" href="#myCarousel5990832"
                          data-slide="next"><span class="carousel-control-right" style="top:42%;"></span></a></div>
                </div>
            </div>


            <!-- <div id="rec26193696" class="r" style="padding-top:30px;padding-bottom:75px; " data-animationappear="off" data-record-type="690">
                t690
                <div class="t690">
                    <div class="t-section__container t-container">
                        <div class="t-col t-col_12">
                            <div class="t-section__topwrapper t-align_center">
                                <h1 class="t-section__title t-title t-title_xs " field="btitle">Підпишись на розсилку новин<br>
                        </h1>
                                <div class="t-section__descr t-descr t-descr_xl t-margin_auto " field="bdescr">від Молодіжного Націоналістичного Конгресу
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="t-container">
                        <div class="t-col t-col_10 t-prefix_1">
                            <form id="form26193696" name="form26193696" role="form" action="https://forms.tildacdn.com/procces/" method="POST" data-formactiontype="2" data-inputbox=".t-input-group" data-success-url="fb.com\mnk.org.ua" class="t-form js-form-proccess t-form_inputs-total_3 "
                              data-success-callback="t690_onSuccess"><input type="hidden" name="formservices[]" value="358236776cf5f13a7e40fa0f373f0dd2" class="js-formaction-services"> <input type="hidden" name="tildaspec-formname" tabindex="-1" value="Отримувати цікаві новини">
                                <div class="js-successbox t-form__successbox t-text t-text_md" style="display:none;">
                                    Дякуємо! Чекайте на новини.
                                </div>
                                <div class="t-form__inputsbox">
                                    <div class="t-input-group t-input-group_em" data-input-lid="1494863045129">
                                        <div class="t-input-block"><input type="text" name="Email" class="t-input js-tilda-rule " value="" placeholder="Ваш E-mail" data-tilda-req="1" data-tilda-rule="email" style="color:#000000; border:1px solid #000000; ">
                                            <div class="t-input-error"></div>
                                        </div>
                                    </div>
                                    <div class="t-input-group t-input-group_nm" data-input-lid="1495122982159">
                                        <div class="t-input-block"><input type="text" name="Name" class="t-input js-tilda-rule " value="" placeholder="ПІБ" data-tilda-req="1" data-tilda-rule="name" style="color:#000000; border:1px solid #000000; ">
                                            <div class="t-input-error"></div>
                                        </div>
                                    </div>
                                    <div class="t-input-group t-input-group_in" data-input-lid="1494867612478">
                                        <div class="t-input-block"><input type="text" name="Input" class="t-input js-tilda-rule " value="" placeholder="Місто" style="color:#000000; border:1px solid #000000; ">
                                            <div class="t-input-error"></div>
                                        </div>
                                    </div>
                                    <div class="t-form__errorbox-middle">
                                        <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;">
                                            <div class="t-form__errorbox-text t-text t-text_md">
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-all"></p>
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p>
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-email"></p>
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-phone"></p>
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="t-form__submit">
                                        <button type="submit" class="t-submit" style="color:#ffffff;background-color:#000000;">
                                        підписатися
                                    </button>
                                    </div>
                                </div>
                                <div class="t-form__errorbox-bottom">
                                    <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;">
                                        <div class="t-form__errorbox-text t-text t-text_md">
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-all"></p>
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p>
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-email"></p>
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-phone"></p>
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p>
                                        </div>
                                    </div>
                                </div>
                                <div style="position: absolute; left: -5000px; bottom:0;"><input type="text" name="form-spec-comments" value="Its good" class="js-form-spec-comments" tabindex="-1"></div>
                            </form>
                            <style>
                                #rec26193696 input::-webkit-input-placeholder {
                                    color: #000000;
                                    opacity: 0.5;
                                }

                                #rec26193696 input::-moz-placeholder {
                                    color: #000000;
                                    opacity: 0.5;
                                }

                                #rec26193696 input:-moz-placeholder {
                                    color: #000000;
                                    opacity: 0.5;
                                }

                                #rec26193696 input:-ms-input-placeholder {
                                    color: #000000;
                                    opacity: 0.5;
                                }

                                #rec26193696 textarea::-webkit-input-placeholder {
                                    color: #000000;
                                    opacity: 0.5;
                                }

                                #rec26193696 textarea::-moz-placeholder {
                                    color: #000000;
                                    opacity: 0.5;
                                }

                                #rec26193696 textarea:-moz-placeholder {
                                    color: #000000;
                                    opacity: 0.5;
                                }

                                #rec26193696 textarea:-ms-input-placeholder {
                                    color: #000000;
                                    opacity: 0.5;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div id="rec5990838" class="r" style="padding-top:0px;padding-bottom:0px; " data-animationappear="off" data-record-type="246">
                T218
                <div class="t218">
                    <div class="t218__blockimgmobile" style="display:none;background-color:#d9d9d9;"><img src="{% static 'img/longreads/vidvaga/b7-1.png' %}" class="t218__imgmobile t-img"></div>
                    <table class="t218__blocktable" style="height:70vh;background-color:#d9d9d9;" data-height-correct-vh="yes">
                        <tbody>
                            <tr>
                                <td class="t218__blockimg t-bgimg loaded" bgimgfield="img" style="background-image: url({% static 'img/longreads/vidvaga/b7-1.png' %});"
                                  src=""></td>
                                <td class="t218__blocktext">
                                    <div class="t218__textwrapper">
                                        <div class="t218__descrfield t-descr t-descr_xxxl" style=" " field="title">
                                            <div style="font-size:26px;line-height:20px;text-align:center;font-family:&#39;Open Sans&#39;;" data-customstyle="yes">Організатори: <br><span style="font-size: 34px;"><br></span><br><br><strong><a
                                            href="http://dsmsu.gov.ua/index/ua">Міністерство молоді та спорту
                                        України<br><br></a><br><a href="http://www.adm-pl.gov.ua/" style="" rel=""><br>Управління
                                        у справах сім'ї, молоді та <br><br>спорту Полтавської
                                        ОДА<br></a><br><br></strong><a href="http://mnk.org.ua/" target="_blank"><strong>Молодіжний
                                        Націоналістичний
                                        Конгрес</strong></a><span style="font-weight: 600;"><a href="http://mnk.org.ua/"
                                                                                               target="_blank"><br></a></span><span style="font-weight: 600;"><br></span></div>
                                        </div>
                                        <div class="t218__textfield t-text t-text_md" style=" " field="text"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> -->

            <!-- <div id="rec6017410" class="r" style="padding-top:0px; " data-animationappear="off" data-record-type="407">
                T407
                <div class="t407">
                    <div class="t-container_100 ">
                        <div class="t407__wrapper">
                            <div class="t407__col t407__col_notempty" style="background-color: #2e2e2e;">
                                <a href="https://docs.google.com/forms/d/1n3l85nVFLgidVewJsdAxVtf7BckPn4G6IGkxK5DQkHw/edit" target="_blank">
                                    <div class="t407__textwrapper">
                                        <div class="t407__title t-name t-name_lg" style="color: #ffffff;" field="title">
                                            <div style="text-align:center;" data-customstyle="yes">Допомогти табору</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="t407__col t407__col_notempty" style="background-color: #516e70;">
                                <a href="http://vidvaga.mnk.org.ua/#rec26189006" target="_blank">
                                    <div class="t407__textwrapper t-align_right">
                                        <div class="t407__title t-name t-name_lg" style="color: #ffffff;" field="title2">
                                            <div style="text-align:center;" data-customstyle="yes">Стати учасником</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div id="rec4714166" class="r" style="padding-top:60px;padding-bottom:60px;background-color:#e8e8e8; "
                 data-record-type="144" data-bg-color="#e8e8e8" data-animationappear="off">
                <!-- T134-->
                <div class="t134">
                    <div class="t-container">
                        <div class="t-col t-col_10 t-prefix_1">
                            <img src="{% static "img/logo.png" %}" class="t134__img" imgfield="img">
                            <div class="t134__title" field="title" style="color:#000000;">Молодіжний Націоналістичний Конгрес
                            </div>
                            <div class="t134__descr" field="descr" style="color:#000000;">© 2017 All Rights Reserves<br>mnk@mnk.org.ua<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
