header.zd_land_pv {
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
}

header.zd_land_pv .site-heading {
   text-align: center;
   color: white;
   font-size: 20px;
   margin: 2vh;
}

header.zd_land_pv .site-heading .btn {
   margin: 2vh;
}

.zd_land_pv hr {
   width: 60%;
   margin: 3vh auto;
}

.zd_land_pv .carousel-inner {
  height: 70vh;
}

/* .parent_site-heading {
   display: table;
   height: 100vh;
   margin: 0 auto;
}

.site-heading {
   display: table-cell;
   vertical-align: middle;
} */

section.zd_land_pv {
   background-color: #f0f0f0;
   padding: 10vh 0 10vh 0;
}

section.zd_land_pv.zd_s3 .s3_img {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 660px;
   margin-bottom: 20px;
   padding: 0;
}

section.zd_land_pv.zd_s3 .s3_img2 {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 320px;
   margin-bottom: 20px;
   padding: 0;
}

@media screen and (max-width: 767px) {
   section.zd_land_pv.zd_s3 .s3_img {
      height: 320px;
      margin: 15px;
   }
}

section.zd_land_pv.zd_s-last img {
   max-width: 300px;
}

section.zd_land_pv.zd_s-last p {
   margin: 0;
   color: #939393;
}

section.zd_land_pv.zd_s-last h4 {
   padding-top: 25px;
   padding-bottom: 25px;
}

section.zd_land_pv.zd_s-last {
   background-color: #e8e8e8;
}

.container2 {
   position: relative;
   width: 100%;
   height: 0;
   padding-bottom: 56.25%;
}

.video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

section.zd_land_pv .carousel-item {
  height: 70vh;
  background-position: center;
  background-size: cover;
}
