{% load staticfiles thumbnail cms_tags apphooks_config_tags %}


<article class="zd_news_latest">
{#    {% if article.is_featured %} featured{% endif %}#}
    {% if not article.published %} unpublished{% endif %}

    <div class="mb-1">
        &bull; <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">
             {% render_model article "title" %}
        </a>
        {{ article.publishing_date|date:"d.m.Y" }}
        <!-- {{ article.publishing_date|date:"d.m.Y, H:i" }} -->
    </div>
</article>
