{% extends "aldryn_newsblog/base.html" %}
{% load i18n cms_tags apphooks_config_tags %}

{% block title %}
    {{ article.title }} - {{ block.super }}
{% endblock %}

{% block newsblog_content %}
    <div class="container mb-4">
        {% include "aldryn_newsblog/includes/article_full.html" with detail_view="true" %}
        <ul class="pagination">
            {% if prev_article %}
                <li><a href="{{ prev_article.get_absolute_url }}">Попередня</a></li>
            {% endif %}
            <li><a href="{% namespace_url "article-list" %}">Назад до огляду</a></li>
            {% if next_article %}
                <li><a href="{{ next_article.get_absolute_url }}">Наступна</a></li>
            {% endif %}
        </ul>
        <!-- FB comments -->
        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
    </div>
{% endblock %}
