#zd_arrow_down {
   animation: updown 3s ease-in-out infinite;
}

#zd_arrow_down:hover {
   animation-play-state: paused;
}

@keyframes updown {
   0% {
      bottom: 10%;
   }
   50% {
      bottom: 8%;
   }
   100% {
      bottom: 10%;
   }
}
