{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block header %}
    {% include "zd_headers/leadership_header.html" %}
{% endblock header %}

{% block content %}

    <div class="container">
        {% for group in group_list %}
            <h2>{% render_model group 'name' %}</h2>
            {% for person in group.people.all|dictsort:"name" %}
                {% include "aldryn_people/includes/person.html" with person=person %}
            {% endfor %}
        {% endfor %}

        {% if ungrouped_people %}
            <h2>"Ungrouped"</h2>
            {% for person in ungrouped_people %}
                {% include "aldryn_people/includes/person.html" with person=person %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock content %}
