{% load staticfiles thumbnail cms_tags apphooks_config_tags %}

<!--
<article class="zd_news_latest">
{#    {% if article.is_featured %} featured{% endif %}#}
    {% if not article.published %} unpublished{% endif %}

    <div>
        <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">
            {% render_model article "title" %}
        </a>
        {{ article.publishing_date|date:"d.m.Y, H:i" }}
    </div>
</article>

<div class="zd_card-news col-md-4 portfolio-item">
    <div class="card h-100"
         style="background-image: url('{% static 'img/landing/landing_slide_2.jpg' %}')">
        <a href="#">
            <div class="card-body">
                <h4 class="card-title">
                    Новина друга
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                    euismod
                    odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </a>
    </div>
</div>
-->
<p> Не туда</p>
